<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d %p %C{1.} [%t] %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="com.github.nmuzhichin" level="debug"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>